/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.button {
  position: relative;
  cursor: pointer;
  border: var(--border-accent);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-family: var(--font-accent);
  line-height: 90%;
  font-variation-settings: 'wght'var(--font-normal);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  mix-blend-mode: difference;
}

.page {
  display: grid;
  justify-items: center;
  font-family: var(--font-page);
  color: var(--main-color);
  font-size: 18px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--gradient-background);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght'var(--font-normal);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-accent);
  inline-size: min(100%, 700px);
  border: var(--border-accent);
  margin-block: 100px;
  padding-block: clamp(7.5rem, 6.362rem + 2.73vw, 8rem);
  background-color: var(--color-background);
}

.header-logo {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header-title {
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  padding-block-start: 20px;
  text-transform: uppercase;
}

.content {
  margin: 0 auto;
  inline-size: min(100%, 700px);
}

.card {
  margin-block-end: 50px;
  padding-block-end: 25px;
  border: var(--border-accent);
  background-color: var(--color-background);
}

.card-heading {
  font-variation-settings: 'wght'var(--font-bold);
  font-size: 18px;
  padding: 6px 0 3px 10px;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
  inline-size: 100%;
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-top: var(--border-accent);
  border-bottom: var(--border-accent);
}

.opacity {
  filter: opacity(0.5);
}

.hue-rotate {
  filter: hue-rotate(100deg);
}

.invert {
  filter: invert(180%);
}

.saturate {
  filter: saturate(150%);
}

.grayscale {
  filter: grayscale(140%);
}

.brightness-hue-rotate {
  filter: brightness(100%) hue-rotate(50deg);
}

.sepia {
  filter: sepia(150%);
}

.label {
  position: absolute;
  font-family: var(--font-accent);
  inset-block-start: 27px;
  inset-inline-end: 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--color-stroke),
    1px 0 var(--color-stroke),
    0 1px var(--color-stroke),
    0 -1px var(--color-stroke);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports (text-stroke: 1px var(--color-stroke)) or (-webkit-text-stroke: 1px var(--color-stroke)) {
  .label {
    -webkit-text-stroke: 1px var(--color-stroke);
    text-stroke: 1px var(--color-stroke);
    text-shadow: none;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block: 0 25px;
}

.card-text {
  line-height: 21px;
  font-size: 18px;
  font-variation-settings: 'wght'var(--font-normal);
  padding-inline: 25px;
}

.button-container {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: end;
  align-content: end;
  padding-inline-end: 25px;
  inline-size: 100%;
}

.card__icon-button {
  inline-size: 33px;
  block-size: 34px;
  padding: 4px 0 2px;
  display: grid;
  place-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: outline 0.3s ease;
  outline: var(--border-transparent);
  margin-block-start: 2px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border-accent);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  display: grid;
  place-items: center;
  background-color: inherit;
}

.button-dialog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  inline-size: 335px;
  block-size: 55px;
  margin-inline: 180px;
  margin-block-end: 103px;
  gap: 8px;
}

.floppy {
  display: block;
  color: var(--main-color);
}

.floppy-button {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.dialog-window[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  inline-size: 357px;
  border: var(--border-accent);
  min-block-size: 191px;
  margin: auto;
}

.dialog-window::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.button__text-window {
  font-size: 14px;
  font-family: var(--font-accent);
  font-variation-settings: 'wght'var(--font-normal);
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-dialog {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog-container {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 20px;
  block-size: 63px;
}

.window-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 293px;
  block-size: 38px;
  background-color: var(--color-background);
}

.sparks {
  opacity: var(--transparent-svg);
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--color-contour-svg);
  transition: fill 0.1s linear;
}

.like-icon {
  position: absolute;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--color-contour-svg);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--color-contour-svg);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--color-body-svg);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .like-icon .core {
  fill: var(--color-body-svg);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s 0.1s ease-in reverse;
  transform-origin: center;
}

.like-icon.is-liked .core {
  animation: filling 0.3s linear forwards;
}

.like-icon.is-liked .main-body {
  animation: filling 0.3s 0.05s linear forwards;
}

.like-icon.is-liked .contour {
  animation: filling 0.3s 0.06s linear forwards;
}

.like-icon.is-liked .sparks {
  animation: filling-sparks 0.3s 0.3s ease-in reverse;
}

@media (width<=375px) {
  .card-heading {
    padding: 3.5px 0 5.5px 10px;
  }

  .card_heading-large-padding {
    padding: 4px 10px 6px;
    text-align: left;
  }

  .label {
    inset-block-start: 25px;
    inset-inline-end: 11px;
  }

  .image-text-container {
    gap: 25px;
  }

  .button-dialog {
    flex-direction: column;
    inline-size: 306px;
    block-size: 80px;
    margin-inline: auto;
    margin-block-end: 100px;
    gap: 8px;
  }

  .floppy-button {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog-window[open] {
    padding-inline-start: 37px;
    inline-size: 341px;
    opacity: 0.5;
  }

  .window-button {
    inline-size: 257px;
  }
}